* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 8px;
    font-family: verdana;
}

h1 {
    margin: 0 0 16px 0;
}

.ulStyle {
    list-style: none;
}

.liStyle {
    margin: 0 0 16px 16px
}

.liStyle p {
    margin-bottom: 8px;
}

.listGap {
    display: inline-block;
    width: 20px;
    text-indent: 0;
}